* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vkui--vkBase--dark, .vkui--vkIOS--dark {
  --color_background: var(--vkui--color_background_contrast);
  --color_background--hover: var(--vkui--color_background_contrast--hover);
  --color_background--active: var(--vkui--color_background_contrast--active);
}

.vkui--vkBase--light, .vkui--vkIOS--light {
  --color_background: var(--vkui--color_background_contrast_inverse);
  --color_background--hover: var(
    --vkui--color_background_contrast_inverse--hover
  );
  --color_background--active: var(
    --vkui--color_background_contrast_inverse--active
  );
}

:root {
  --color_icon: var(--vkui--color_icon_primary);
  --color_icon--hover: var(--vkui--color_icon_primary--hover);
  --color_icon--active: var(--vkui--color_icon_primary--active);
  --color_text: var(--vkui--color_text_primary);
  --color_text--hover: var(--vkui--color_text_primary--hover);
  --color_text--active: var(--vkui--color_text_primary--active);

  --vkui--color_background_accent: var(--color_background);
  --vkui--color_background_accent--hover: var(--color_background--hover);
  --vkui--color_background_accent--active: var(--color_background--active);
  --vkui--color_background_accent_themed: var(--color_background);
  --vkui--color_background_accent_themed--hover: var(--color_background--hover);
  --vkui--color_background_accent_themed--active: var(
    --color_background--active
  );

  --vkui--color_background_accent_alternative: var(--color_background);
  --vkui--color_background_accent_alternative--hover: var(
    --color_background--hover
  );
  --vkui--color_background_accent_alternative--active: var(
    --color_background--active
  );

  --vkui--color_icon_accent: var(--color_icon);
  --vkui--color_icon_accent--hover: var(--color_icon--hover);
  --vkui--color_icon_accent--active: var(--color_icon--active);
  --vkui--color_icon_accent_themed: var(--color_icon);
  --vkui--color_icon_accent_themed--hover: var(--color_icon--hover);
  --vkui--color_icon_accent_themed--active: var(--color_icon--active);

  --vkui--color_stroke_accent: var(--color_icon);
  --vkui--color_stroke_accent--hover: var(--color_icon--hover);
  --vkui--color_stroke_accent--active: var(--color_icon--active);
  --vkui--color_stroke_accent_themed: var(--color_icon);
  --vkui--color_stroke_accent_themed--hover: var(--color_icon--hover);
  --vkui--color_stroke_accent_themed--active: var(--color_icon--active);

  --vkui--color_text_accent: var(--color_text);
  --vkui--color_text_accent--hover: var(--color_text--hover);
  --vkui--color_text_accent--active: var(--color_text--active);
  --vkui--color_text_accent_themed: var(--color_text);
  --vkui--color_text_accent_themed--hover: var(--color_text--hover);
  --vkui--color_text_accent_themed--active: var(--color_text--active);

  --vkui--color_text_link: var(--color_text);
  --vkui--color_text_link--hover: var(--color_text--hover);
  --vkui--color_text_link--active: var(--color_text--active);
  --vkui--color_text_link_themed: var(--color_text);
  --vkui--color_text_link_themed--hover: var(--color_text--hover);
  --vkui--color_text_link_themed--active: var(--color_text--active);

  --vkui--color_accent_blue: var(--color_background);
  --vkui--color_accent_blue--hover: var(--color_background--hover);
  --vkui--color_accent_blue--active: var(--color_background--active);

  --vkui--color_button_text: var(--color_text);
  --vkui--color_button_text--hover: var(--color_text--hover);
  --vkui--color_button_text--active: var(--color_text--active);
  --vkui--color_button_icon: var(--color_icon);
  --vkui--color_button_icon--hover: var(--color_icon--hover);
  --vkui--color_button_icon--active: var(--color_icon--active);
  --vkui--color_button_stroke: var(--color_text);
  --vkui--color_button_stroke--hover: var(--color_text--hover);
  --vkui--color_button_stroke--active: var(--color_text--active);

  --vkui--color_write_bar_icon: var(--color_icon);
  --vkui--color_write_bar_icon--hover: var(--color_icon--hover);
  --vkui--color_write_bar_icon--active: var(--color_icon--active);

  --vkui--color_panel_header_icon: var(--color_icon);
  --vkui--color_panel_header_icon--hover: var(--color_icon--hover);
  --vkui--color_panel_header_icon--active: var(--color_icon--active);
}

.SplitCol--first,
.SplitCol--second,
.SplitCol--middle {
  border-color: var(--vkui--color_separator_secondary);
  border-style: solid;
  border-width: 0.5px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 92px);
  justify-content: center;
  left: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  right: auto;
  top: 0px;
  width: calc(100% + 0px);
}

.SplitCol--middle {
  margin: 76px 16px 16px 16px;
  border-radius: 12px;
  overflow-y: scroll;
}

.SplitCol--first {
  margin: 76px 0px 16px 16px;
  border-radius: 12px 0 0 12px;
  overflow-y: hidden;
}

.SplitCol--second {
  margin: 76px 16px 16px 0px;
  border-radius: 0 12px 12px 0;
  overflow-y: scroll;
}

.text--hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Group {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.Group__content {
  background: var(--vkui--color_background_content);
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: flex-start;
  padding: 10px 16px 10px 16px;
}

.Group__content--mobile {
  padding: 12px 0px 12px 0px;
}

.Suspense__placeholder {
  padding: 44px;
  background-color: var(--vkui--color_background_content);
  border-radius: 0 0 var(--vkui--size_border_radius--regular)
    var(--vkui--size_border_radius--regular);
}

.Image img {
  object-fit: scale-down;
}
